<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.oriens.bluelight">

    <!--İZİNLER
    Alarm kurmak için gerekli telefon ekranını açma izni alınıyor-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Giriş Aktivitesi (Kullanıcı uygulamayı ilk açtığında onu bilgilendiren slaytlar)
        tanımlanıyor
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Ana aktivite-->
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Uyanma anı için matematik işlemli tam ekran mavi ışık aktivitesi tanımlanıyor-->
        <activity
            android:name=".FullScreenWakeUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/wake_up_title"
            android:theme="@style/AppTheme" />

        <!--25 dakikalık mavi ışık ile çalışma kativitesi tanımlanıyor-->
        <activity
            android:name=".FullScreenWork"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/work_title"
            android:theme="@style/AppTheme" />

        <!--Alarm servisi ve alıcısı tanımlanıyor-->
        <service
            android:name=".AlarmService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver" />

        <!--Alarm vakti geldiğinde açılan tam ekran aktivite tanımlanıyor-->
        <activity
            android:name=".AlarmFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_alarm_full_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>
</manifest>